<h3>Welcome to my new hamburger joint</h3>

<p>On the plate</p>
<ul>
    {{#each burgers}}
    {{#unless devoured}}
        <li>{{name}}</li>
    {{/unless}}
    {{/each}}
</ul>

<p>Devoured</p>
<ul>
    {{#each burgers}}
    {{#if devoured}}
        <li>{{name}}</li>
    {{/if}}
    {{/each}}
</ul>